/*import the main typeface*/@import url("https://use.typekit.net/ath3ckx.css");
* {
    font-family: study,serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}
:root {
    --main_color: white;
    --background_color: rgb(36, 36, 36);
    --off_color: rgb(80, 80, 80);
}
.body {
    background-color: var(--background_color);
    margin: 0%;
    color: var(--main_color);
}
/* main header classes */
.navLink {
    color: rgb(19, 28, 56);
    border-radius: 10%;
    text-decoration: underline;
}
.navLink:hover {
    color: var(--off_color);
    border: var(--off_color);
}
/* desktop responsive */
@media only screen and (min-width: 800px) {
    /* header classes */
    .indexHeader {
        margin-left: 10%;
        margin-right: 10%;   
    }
    .header-text {
        color: var(--main_color);
        width: 20%;
        text-align: center;
        margin-left: 10%;
    }
    .header {
        background-color: var(--main_color);
        margin: 0%;
        margin-top: -20px;
        color: var(--background_color);
        width: 100%;
        padding-bottom: 12px;
    }
}